<div class="flex justify-between mb-6">
      <a href="/" class="text-indigo-600 font-semibold">Create</a>
      <a href="/api/pastes" class="text-indigo-600 font-semibold">All URLs</a>
    </div>
<h1 class="text-2xl font-bold mb-6">Create Temporary URL</h1>

<form method="POST" action="/api/pastes" class="space-y-4">

  <div>
    <label class="block font-medium mb-1">Text</label>
    <textarea
      name="content"
      required
      placeholder="Enter secret text..."
      class="w-full border rounded-md p-3 focus:ring-2 focus:ring-indigo-500"
    ></textarea>
  </div>

  <div>
    <label class="block font-medium mb-1">TTL (seconds)</label>
    <input
      type="number"
      name="ttl_seconds"
      placeholder="Eg: 10"
      required
      class="w-full border rounded-md p-2 focus:ring-2 focus:ring-indigo-500"
    />
  </div>

  <div>
    <label class="block font-medium mb-1">Max Views</label>
    <input
      type="number"
      name="max_views"
      placeholder="Eg: 3"
      required
      class="w-full border rounded-md p-2 focus:ring-2 focus:ring-indigo-500"
    />
  </div>

  <button
    class="w-full bg-indigo-600 text-white py-3 rounded-md hover:bg-indigo-700 transition"
  >
    Create URL
  </button>

</form>
